@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1720px;
    }
}

/* admin colors */
.back-colors {
    background: rgb(135, 17, 193);
    background: linear-gradient(270deg, rgba(135, 17, 193, 1) 0%, rgba(36, 114, 252, 1) 100%);
}

.bg-colors2 {
    background: rgb(36, 114, 252);
    background: linear-gradient(270deg, rgba(36, 114, 252, 1) 0%, rgba(135, 17, 193, 1) 100%);
}



/* Style for the message div */
.message-popup {
    opacity: 0;
    position: fixed;
    cursor: default;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-30px);
    z-index: 2000;
    font-size: 20px;
    padding: 16px;
    color: green;
    font-weight: 200;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add shadow */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transition for fade-in/fade-out */
}

.show-message {
    opacity: 1;
    transform: translateX(-50%) translateY(0); /* Move down to its original position */
}




/* Time table respoonsive css list */
.timetable-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.timetable-table th,
.timetable-table td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dee2e6;
    padding: 10px;
}

.timetable-table th {
    background-color: #0d6efd;
    color: white;
}

.timetable-table td {
    height: 100px;
    transition: background-color 0.3s ease;
}

.timetable-table td:hover {
    background-color: #e9ecef;
}

.interval-label {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .timetable-table {
        font-size: 12px;
    }

    .timetable-table td {
        height: 60px;
    }
}

.table-wrapper {
    overflow-x: auto;
}
